.contactList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 345px;
}

.contactCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
